.headerBar {
    margin-top: 5px;
    margin-bottom: 50px;
    display:inline-block;
}
.headerBar label {
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 50px;
    display:inline-block;
    
}
.headerBar button {
    margin-top: 5px;
    margin-left: 20px;
    margin-bottom: 40px;;
    display:inline-block;
}
table {
    border-collapse: collapse;
    width: 100%;
}  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.changingTable button{
    margin-right: 10px;
    margin-left: 10px;
}